/* Updated styles for the navigation bar */
.navbar {
    min-height: 120px; /* Adjust the height as needed */
    font-size: 1.5rem; /* Adjust the font size as needed */
    padding: 10px;
}

.navbar-brand {
    font-size: 1.8rem; /* Adjust the font size as needed */
}

.navbar-toggler-icon {
    font-size: 1.8rem; /* Adjust the font size as needed */
}

.offcanvas-header .offcanvas-title {
    font-size: 1.8rem; /* Adjust the font size as needed */
}

.navbar-nav .nav-link {
    font-size: 1.5rem; /* Adjust the font size as needed */
}

.card {
    border: 3px solid black; /* Adjust the thickness and color as needed */
}

body {
    background-image: url('https://opengameart.org/sites/default/files/Starry%20night%20Image.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}