body {
    overflow: auto;
}

 

.content {
    font-family: 'Arial', sans-serif;
    text-align: center;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin: 0;
    background-image: url('https://opengameart.org/sites/default/files/background0.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;        

}

header {
    background-color: #333;
    color: #fff;
    padding: 10px;
    margin-bottom: 20px;
}

#result {
    margin-top: 20px;
}

.options {
    display: flex;
    justify-content: space-around;
    margin-top: 20px;
}

.option-button {
    padding: 15px;
    cursor: pointer;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 5px;
    margin: 5px;
}

#retryButton,
#backButton {
    margin-top: 20px;
    padding: 15px;
    cursor: pointer;
    background-color: #333;
    color: white;
    border: none;
    border-radius: 5px;
}

audio {
    width: 100%;
    max-width: 300px;
    margin: 20px 0;
}

button:disabled {
    background-color: #ccc;
    cursor: not-allowed;
}

/* Updated styles for the navigation bar */
.navbar {
    min-height: 120px; /* Adjust the height as needed */
    font-size: 1.5rem; /* Adjust the font size as needed */
    padding: 10px;
}

.navbar-brand {
    font-size: 1.8rem; /* Adjust the font size as needed */
}

.navbar-toggler-icon {
    font-size: 1.8rem; /* Adjust the font size as needed */
}

.offcanvas-header .offcanvas-title {
    font-size: 1.8rem; /* Adjust the font size as needed */
}

.navbar-nav .nav-link {
    font-size: 1.5rem; /* Adjust the font size as needed */
}

